body {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    max-width: 460px;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

/* --- CABEÇALHO --- */
.profile-header {
    margin-bottom: 20px;
}

.profile-pic-area {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* --- biozinha --- */
.profile-header-2 {
    margin-bottom: 20px;
}

.profile-pic-area-2 {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 3 / 1;
}

.profile-pic-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* --- GRADE DE LINKS --- */
.link-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* --- CARTÕES DE IMAGEM --- */
.grid-item {
    display: block;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Imagem preenche o cartão */
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

/* Ocupar duas colunas do grid */
.full-width {
    grid-column: span 2;
    aspect-ratio: 2 / 1; 
}


/* --- RODAPÉ --- */
.footer-legal {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
}

.footer-legal p {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #BDBDBD;
    letter-spacing: 0.25px;
    margin: 0;
}


/* =========================================
   RESPONSIVIDADE: DESKTOP
   ========================================= */
@media (min-width: 900px) {
    .main-container {
        max-width: 1350px;
        display: flex;
        flex-direction: row;
        align-items: top;
        gap: 48px; /* respiro entre bio e links */
        padding: 35px;
    }

    /* lado esquerdo (Foto e Bio) */
    .profile-header {
        flex: 1;
        margin-bottom: 0;
    }

    /* lado direito (grade de botões) */
    .link-grid {
        flex: 1.5;
        grid-template-columns: repeat(4, 1fr);
    }
}
